*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand img{
    width: 600px;
    height: 130px;
}
.navbar{
    font-size: x-large;
}
.navbar a{
    transition: all 0.7s;
}
.navbar a:hover{
    color: white !important;
}
.dropdown-item{
font-size: larger;
transition: all 0.7s;
}
.dropdown-item:hover{
    background-color: goldenrod;
}

/* ADD TO CART ICON CSS */
.cart-icon i {
    font-size: 25px;
    color: black;
    cursor: pointer;
}
/* ADD TO CART ICON CSS *//* Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Extra Large Devices (large desktops, 1200px) */
@media (min-width: 1200px) {


}